<div class="container">
  <div [hidden] = "openCreateTableList" class="first-window window">
    <app-output [hidden] = "openCreateTableList" [styles] = "styles" [sketch] = "sketch"></app-output>
    <app-create-table-list *ngIf = "openCreateTableList"></app-create-table-list>
  </div>
  <app-btns [hidden] = "openCreateTableList" (editEvent) = "activeEdit()" (styleEvent) = "activeStyle()"></app-btns>
  <div [hidden] = "openCreateTableList" *ngIf = "openEdit || openStyle" class="second-window window">
    <app-edit (addEvent) = "activeCreate()" [sketch] = "editSketch" *ngIf = "openEdit" (saveEvent) = "updateSketch($event)"></app-edit>
    <app-stylization [styles] = "styles" (styleEvent) = "updateStyle($event)" *ngIf = "openStyle"></app-stylization>
  </div>
  <div class="window"  *ngIf = "openCreateTableList">
    <app-create-table-list (returnData) = "getTableList($event)"></app-create-table-list>
  </div>
</div>
