<form>

  <div class="form-section">
    <h4 class="form-headers">Font size : </h4>
    <div class="form-check form-check-inline">
      <input (input)="onInput()" [(ngModel)]="styles['font-size']" class="form-check-input" type="radio"
        name="inlineRadioOptions" id="inlineRadio1" value="12px">
      <label class="form-check-label" for="inlineRadio1">12px</label>
    </div>
    <div class="form-check form-check-inline">
      <input (input)="onInput()" [(ngModel)]="styles['font-size']" class="form-check-input" type="radio"
        name="inlineRadioOptions" id="inlineRadio2" value="14px">
      <label class="form-check-label" for="inlineRadio2">14px</label>
    </div>
    <div class="form-check form-check-inline">
      <input (input)="onInput()" [(ngModel)]="styles['font-size']" class="form-check-input" type="radio"
        name="inlineRadioOptions" id="inlineRadio3" value="16px">
      <label class="form-check-label" for="inlineRadio3">16px</label>
    </div>
    <div class="form-check form-check-inline">
      <input (input)="onInput()" [(ngModel)]="styles['font-size']" class="form-check-input" type="radio"
        name="inlineRadioOptions" id="inlineRadio4" value="18px">
      <label class="form-check-label" for="inlineRadio4">18px</label>
    </div>
    <div class="form-check form-check-inline">
      <input (input)="onInput()" [(ngModel)]="styles['font-size']" class="form-check-input" type="radio"
        name="inlineRadioOptions" id="inlineRadio5" value="20px">
      <label class="form-check-label" for="inlineRadio5">20px</label>
    </div>
  </div>


  <div class="form-section">
    <h4 class="form-headers">Font family :</h4>
    <select (change)="onInput()" [(ngModel)]="styles['font-family']" name="select-font" class="form-select"
      aria-label="Default select example">
      <option value='cursive'>Cursive</option>
      <option value='fantasy'>Fantasy</option>
      <option value='monospace'>Monospace</option>
      <option value='sans-serif'>Sans-serif</option>
    </select>
  </div>

  <div class="form-section">
      <h4>Colors :</h4>
      <button class="btn btn-outline-danger" (click) = "textColor()">Text color</button>
      <button class="btn btn-outline-danger" (click) = "bgColor()">Background color</button>
  </div>

  <div class="form-section">
    <h4 class="form-headers">Style :</h4>

    <div class="form-check">
        <input name="f-weight" id="f-bold" class="form-check-input" type="checkbox"  (click)="checked.bold = !checked.bold;onChecked() ">
        <label for="f-bold" class="form-check-label"> Bold text</label>
        
    </div>
    <div class="form-check">
        <input name="f-cursive"  id="f-cursive" class="form-check-input" type="checkbox" (click)="checked.cursive = !checked.cursive;onChecked()"> 
        <label for="f-cursive" class="form-check-label"> Cursive text</label>
        
    </div>

  </div>


</form>

<app-colors (colorEvent) = "addColor($event)" class="colors" *ngIf = "openPalette"></app-colors>
